// chromatic
$gray-light: #dee2e6;
$gray: #adb5bd;
$gray-dark:#212529;
$red-light: #ffa8a8;
$red: #ff6b6b;
$red-dark: #c92a2a;
$pink-light: #fcc2d7;
$pink: #f06595;
$pink-dark: #a61e4d;
$grape-light: #eebefa;
$grape: #cc5de8;
$grape-dark: #862e9c;
$indigo-light: #bac8ff;
$indigo: #4c6ef5;
$indigo-dark: #364fc7;
$teal-light: #63e6be;
$teal: #20c997;
$teal-dark: #087f5b;
$yellow-light: #ffec99;
$yellow: #fee10b;
$yellow-dark: #e67700;
$brown-light: #d2b76c;
$brown: #9c8136;
$brown-dark: #351e1f;

// font-color
$font-color-primary: $gray-dark;
$font-color-tertiary: $gray;
