$font-family-sans-serif: 'Spoqa Han Sans',
sans-serif;
$font-family-base: $font-family-sans-serif;

$font-size-level-5: 24px;
$font-size-level-4: 20px;
$font-size-level-3: 16px;
$font-size-level-2: 14px;
$font-size-level-1: 12px;
$font-size-base: $font-size-level-2;

$line-height-base: 1.5;